<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>NCI Registration Portal</title>
    <meta name="generator" content="Bootply" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- bower:css -->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- endbower -->
    <!-- bower:js -->
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/lib/bootstrap-validator/dist/validator.js"></script>
    <!-- endbower -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/css/styles.css">
    <!-- endinject -->
    <!-- inject:js -->
    <!-- endinject -->
    <!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
</head>

<body>
    <div class="container-fluid">
        <div class="row top-20">
            <div class="col-sm-6 col-sm-offset-3">
                <a href="/edir">
                    <img class="img-responsive" src="/images/nci-logo-full.svg" alt="National Cancer Institute"></a>
            </div>
            <div class="col-sm-3">
                Hello <%=displayName%>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 side-panel">
                <strong>NIH IT Service Desk:</strong> <br>
                <p>
                    301-496-4357 (HELP)<br> 301-496-8294 (TTY)<br> 866-319-4357 (HELP)
                </p>
                <p class=small>Normal Hours of Operation</p>
                <p>
                    Mon - Fri : 6am - 6pm EST
                </p>
                <p class=small>
                    Limited Support After - Hours
                </p>
                <p> Sat - Sun : 8.30am - 5pm EST<br> Mon - Fri : 6pm - midnight EST
                </p>
            </div>
            <div class="col-sm-6 main-content bg-info">
                <form action="/protected/itrust/access-request" method="post" data-toggle="validator">
                    <div style="display:none">
                            <input type="text" class="form-control" id="referer" name="referer" value="<%=app%>" >
                    </div>
                    <div class="form-group">
                        <label for="app">Which application do you need to access?</label>
                        <input type="text" class="form-control" id="app" name="app" value="<%=app%>" placeholder="Enter the name of the application" data-error="Application name is required."
                            required>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <fieldset>
                            <label>Access level:</label>
                            <div class="radio">
                                <label><input type="radio" name="acclevel" id="levelRadiosRead" value="read_groups" checked>READ</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="acclevel" id="levelRadiosWrite" value="write_groups">READ/WRITE</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="acclevel" id="levelRadiosAdmin" value="admin_groups">ADMIN</label>
                            </div>
                        </fieldset>
                    </div>
                    <div class="form-group">
                        <label for="justification">Justification and additional instructions</label>
                        <textarea class="form-control" rows="12" id="justification" name="justification" placeholder="Enter a justification for the access request."></textarea>
                        <div class="help-block with-errors"></div>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="main-content-no-fill">
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <div>
                <p>
                    <a href="/">Home</a> | <a href="http://www.cancer.gov/global/web/policies">Policies</a> | <a href="http://www.cancer.gov/global/web/policies/accessibility">Accessibility</a>                    |
                    <a href="http://cancer.gov/global/viewing-files">Viewing Files</a> | <a href="http://www.cancer.gov/global/web/policies/foia">FOIA</a>                    </p>
                <p>
                    <a href="http://www.hhs.gov/">U.S. Department of Health and Human Services</a> | <a href="http://www.nih.gov">National Institutes of Health</a>                    |
                    <a href="http://www.cancer.gov">National Cancer Institute</a> | <a href="http://usa.gov/">USA.gov</a>                    </p>
                <p>
                    NIH ... Turning Discovery Into Health®
                </p>
            </div>
        </div>
    </footer>
</body>

</html>