<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>NCI Registration Portal</title>
	<meta name="generator" content="Bootply" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- bower:css -->
	<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
	<!-- endbower -->
	<!-- bower:js -->
	<script src="/lib/jquery/dist/jquery.js"></script>
	<script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
	<script src="/lib/bootstrap-validator/dist/validator.js"></script>
	<!-- endbower -->
	<!-- inject:css -->
	<link rel="stylesheet" href="/css/styles.css">
	<!-- endinject -->
	<!-- inject:js -->
	<!-- endinject -->
	<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
</head>

<body>
	<div class="container-fluid">
		<div class="row top-20">
			<div class="col-sm-6 col-sm-offset-3">
				<a href="/edir"> <img class="img-responsive" src="/images/nci-logo-full.svg"></a>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-3 side-panel">
				<strong>NIH IT Service Desk:</strong> <br>
				<p>
					301-496-4357 (HELP)<br> 301-496-8294 (TTY)<br> 866-319-4357 (HELP)
				</p>
				<p class=small>Normal Hours of Operation</p>
				<p>
					Mon - Fri : 6am - 6pm EST
				</p>
				<p class=small>
					Limited Support After - Hours
				</p>
				<p> Sat - Sun : 8.30am - 5pm EST<br> Mon - Fri : 6pm - midnight EST
				</p>
			</div>
			<div class="col-sm-6 main-content">
				<div class="row">
					<div class="col-sm-offset-1">
						<h4>Welcome to the NCI User Registration Portal. </h4>
					</div>
				</div>
				<div class="row">
					<div class="text_padding col-sm-offset-1">
						<p> You can use this site to transfer your existing access authorizations from an NCI account to an InCommon Federation
							account (see <a href="https://www.incommon.org/participants/ ">https://www.incommon.org/participants/</a> for a list
							of participating institutions) or a business or personal Google account.
						</p>
						<p>
							Existing NCI accounts will be deactivated on December 16, 2016. While it will be possible for you to register a new federated
							account after this date, you should register your new federated account as soon as possible to avoid disruption to
							your NCI application access.
						</p>
						<p>
							If you encounter any difficulties completing this process, please contact the NIH IT Service Desk using the information in
							the side bar and state that you are trying to complete the NCI Federated User Registration process so that your request
							is routed to the appropriate technical support team.
						</p>
						<p><strong>Who should use this?</strong></p>
						<ul>
							<li>
								<p>Non-NIH users who have an existing NCI account and wish to continue accessing NCI applications and services.</p>
							</li>
						</ul>
						<p><strong>Who should NOT use this?</strong></p>
						<ul>
							<li>
								NIH users who have a NCI account – These accounts will be migrated using a separate process.
							</li>
							<li>
								Non-NIH users who do not have a NCI account – A separate new user registration process is under development and will be announced
								shortly.
							</li>
						</ul>
						<p><strong>Choose one of the options below to begin.</strong></p>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-offset-1">
						<p>
							<a class="btn btn-primary" href="/authForm">Register My Account</a>
							<a class="btn btn-secondary" href="/protected/itrust/update">My Account is registered. I need to update my information.</a>
						</p>
					</div>
				</div>
				<div class="form-group">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="main-content-no-fill">
			</div>
		</div>
	</div>
	<footer class="footer">
		<div class="container">
			<div>
				<p>
					<a href="/">Home</a> | <a href="http://www.cancer.gov/global/web/policies">Policies</a> | <a href="http://www.cancer.gov/global/web/policies/accessibility">Accessibility</a>					|
					<a href="http://cancer.gov/global/viewing-files">Viewing Files</a> | <a href="http://www.cancer.gov/global/web/policies/foia">FOIA</a>					</p>
				<p>
					<a href="http://www.hhs.gov/">U.S. Department of Health and Human Services</a> | <a href="http://www.nih.gov">National Institutes of Health</a>					|
					<a href="http://www.cancer.gov">National Cancer Institute</a> | <a href="http://usa.gov/">USA.gov</a> </p>
				<p>
					NIH ... Turning Discovery Into Health®
				</p>
			</div>
		</div>
	</footer>
</body>

</html>