<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>NCI Registration Portal</title>
  <meta name="generator" content="Bootply" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!-- bower:css -->
  <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
  <!-- endbower -->
  <!-- bower:js -->
  <script src="/lib/jquery/dist/jquery.js"></script>
  <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
  <script src="/lib/bootstrap-validator/dist/validator.js"></script>
  <!-- endbower -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/css/styles.css">
  <!-- endinject -->
  <!-- inject:js -->
  <!-- endinject -->
  <!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
</head>

<body>

  <div class="container-fluid">
    <div class="row top-20">
      <div class="col-sm-6 col-sm-offset-3">
        <a href="#">
          <img class="img-responsive" src="/images/nci-logo-full.svg"></a>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-5 col-sm-offset-4 main-content">
        <div class="row">
          <div class="col-sm-offset-1">
            <h4>Welcome to the NCI registration page. </h4>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-offset-1">
            <p class="help-block">You can use this site to transfer your existing NCI account to the new NIH External Active Directory (<a href="https://external.cit.nih.gov/">https://external.cit.nih.gov/</a>).
            The current NCI directory will be discontinued on December 16, 2016. The account transfer is necessary 
            in order to assure that you will continue to have access to NCI applications. 
            </p>
            <p><b>Who should use this?</b></p>
            <ul>
              <li>
                <p class="help-block">Non-NIH users who have a NCI account and intend to use it for the current services.</p>
              </li>
            </ul>  
            <p><b>Who should NOT use this?</b></p>
            <ul>
              <li>
                  NIH users who have a NCI account and intend to use it for the current services.
              </li>
              <li>
                  Non-NIH users who do not have a NCI account.
              </li>
            </ul>  
            
            <p><b>Choose one of the options below to begin.</b></p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-offset-1">
            <p>
              <a class="btn btn-primary" href="/authForm">Register My Account</a>
              <a class="btn btn-secondary" href="/protected/itrust/update">My Account is registered. I need to update my information.</a>
            </p>
          </div>
        </div>
        <div class="form-group">
          
        </div>
      </div>

    </div>
  <div class="row">
    <div class="main-content-no-fill">
      <h4>If you have any questions please contact NCI Help Desk at helpdesk@nci.nih.gov or call 555.555.5555</h4>
    </div>
  </div>

  </div>

  <footer class="footer">
    <div class="container">
      <div>
        <p>
          <a href="/">Home</a> | <a href="http://www.cancer.gov/global/web/policies">Policies</a> | <a href="http://www.cancer.gov/global/web/policies/accessibility">Accessibility</a>          |

          <a href="http://cancer.gov/global/viewing-files">Viewing Files</a> | <a href="http://www.cancer.gov/global/web/policies/foia">FOIA</a>          </p>
        <p>
          <a href="http://www.hhs.gov/">U.S. Department of Health and Human Services</a> | <a href="http://www.nih.gov">National Institutes of Health</a>          |
          <a href="http://www.cancer.gov">National Cancer Institute</a> | <a href="http://usa.gov/">USA.gov</a> </p>
        <p>
          NIH ... Turning Discovery Into Health®
        </p>
      </div>
    </div>
  </footer>

</body>

</html>