<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<title>NCI Registration Portal</title>
	<meta name="generator" content="Bootply" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- bower:css -->
	<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
	<!-- endbower -->
	<!-- bower:js -->
	<script src="/lib/jquery/dist/jquery.js"></script>
	<script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
	<script src="/lib/bootstrap-validator/dist/validator.js"></script>
	<!-- endbower -->
	<!-- inject:css -->
	<link rel="stylesheet" href="/css/styles.css">
	<!-- endinject -->
	<!-- inject:js -->
	<!-- endinject -->
	<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
</head>

<body>

	<div class="container-fluid">
		<div class="row top-20">

			<div class="col-sm-6 col-sm-offset-3">
				<a href="/">
					<img class="img-responsive" src="/images/nci-logo-full.svg"></a>
			</div>
		</div>
		<div class="row">

			<div class="col-sm-6 <col-sm-offset-3></col-sm-offset-3> main-content bg-info">
				<form action="/protected/itrust/update" id="update-form" name="update-form" method="post" data-toggle="validator">

					<div class="form-group">
						<label for="pubkey">Public Key</label>
						<textarea class="form-control" rows="12" id="pubkey" name="pubkey" placeholder="Paste public key in SSH-2 RSA format or leave blank if you wish to remove your existing key from the system."
							data-pmatch-error="Invalid format: Public key needs to be in SSH-2 RSA format." data-pmatch="pmatch"></textarea>
						<div class="help-block with-errors"></div>
					</div>
					<div class="form-group">
						<p class="help-block">Use this form to update your SSH public key.</p>
					</div>

					<button type="submit" class="btn btn-primary">Submit</button>
					<a href="/" class="btn btn-default">Cancel</a>
				</form>
			</div>

		</div>
	</div>

	<footer class="footer">
		<div class="container">
			<div>
				<p>
					<a href="/">Home</a> | <a href="http://www.cancer.gov/global/web/policies">Policies</a> | <a href="http://www.cancer.gov/global/web/policies/accessibility">Accessibility</a>					|

					<a href="http://cancer.gov/global/viewing-files">Viewing Files</a> | <a href="http://www.cancer.gov/global/web/policies/foia">FOIA</a>					</p>
				<p>
					<a href="http://www.hhs.gov/">U.S. Department of Health and Human Services</a> | <a href="http://www.nih.gov">National Institutes of Health</a>					|
					<a href="http://www.cancer.gov">National Cancer Institute</a> | <a href="http://usa.gov/">USA.gov</a> </p>
				<p>
					NIH ... Turning Discovery Into Health®
				</p>
			</div>
		</div>
	</footer>
	<script>

	$('#update-form').validator({
    	custom: {
        	pmatch: function($el) {
				var exp = /^ssh-rsa\s+[A-Za-z0-9\+\/]+(={0,2})(\s+.*)?$/;
				var value = $el.val().trim();
				var result = exp.test(value);
				
				// has to return true to fail validation !?
				return !result;
    		}
		}
	});

  </script>
</body>

</html>